/*--------------------------------------- MAIN ---------------------------------------*/

html {
	margin: 0;
	height: 100%;
	background: 
		linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.9)),
		url(../images/eiffel_tower.jpg);
	background-size: cover;
}

body {
	margin: 0;
}

:target:before {
	content: "";
	display: block;
	height: 40px;
	margin: -40px 0 0;
}
/*--------------------------------------- NAVIGATION ---------------------------------------*/
nav {
	background-color: #333;
	position: fixed;
	z-index: 1;
	top: 0;
	left: auto;
	width: 100%;
	box-shadow: 0px 2px 20px 2px rgba(0,0,0,0.5)
}

nav ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	height: 40px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 2fr repeat(7, [col] 1fr);
	align-content: center;
}

nav ul li a {
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: grey;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.container h1 {
	text-align: center;
	color: white;
	font-size: 5em;
	margin-top: 40%;
}

/*--------------------------------------- ITINERARY ---------------------------------------*/
.wrapper {
	margin-top: 40px;
	display: grid;
	grid-template-columns: 250px 1fr;
	text-align: center;

}

.timeline {
	background-color: #333;
	text-align: left;
}

.timelinenav {
	position: fixed;
}

.timeline a {
	color: white;
	text-decoration: none;
}

.timeline a:hover {
	background-color: grey;
}

